name: Post Hotfix

on:
  workflow_call:
    inputs:
      hotfix_branch:
        description: Branch name containing the hofix code
        type: string
        required: true
      stage:
        description: The stage where the hotfix is being applied to
        type: string
        required: false
        default: production

jobs:
  pull-request:
    runs-on: ubuntu-latest
    name: Merge-Back Pull Request
    steps:
      - uses: NoorDigitalAgency/release-lookup@main
        with:
          token: ${{ github.token }}
      - uses: NoorDigitalAgency/post-hotfix@main
        with:
          token: '${{ github.token }}'
          branch_name: '${{ inputs.hotfix_branch }}'
          release_version: '${{ env.RELEASE_VERSION }}'
          stage: '${{ inputs.stage }}'
